**/src/components.d.ts
dist
www
loader
.stencil

.dfx

target

packages/did-tools/src/tests/mocks/satellite.raw.did.mock.ts

packages/**/*.js
packages/**/*.mjs
packages/**/*.d.ts
!packages/**/declarations/**/*.js
!packages/**/declarations/**/*.mjs
!packages/**/esbuild.mjs
!packages/**/global.d.ts

demo