name: Checks

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Build
        run: npm run build --workspaces

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Lint
        run: npm run format:check

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Lint
        run: npm run lint

  size:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Size check
        uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  may-merge:
    needs: ['format', 'lint', 'build', 'size']
    runs-on: ubuntu-latest
    steps:
      - name: Cleared for merging
        run: echo OK
