name: Next Publication

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Build next version
        run: ./scripts/build-next
      - name: Publish
        run: ./scripts/publish-npm-next.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
